/*Lora*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
</style>

/*Inter*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
</style>

body {
  padding-bottom: 5rem;
}

/* Add a white background color to the top navigation */
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #FBE8E4;
}

p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
}

#homeIcon{
  margin-left:100px;
  width: 58.9px;
  height: 55px;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

#rightIcons{
  float:right;
  margin-right: 100px;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
  font-family: "Inter", sans-serif;

}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgba(0,0,0,.87);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


#bannerText1{
  color: hsla(0, 0%, 100% 0.7);
  font-size: 50px;
  font-weight: normal;
  padding-top: 121px;
  font-family: "Lora";
  width: 560px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;

}

#bannerText2Line{
  position: relative;
  /* border: 3px #eee solid; */

}

#bannerText2{
  color: hsla(0, 0%, 100% 0.7);
  font-size: 30px;
  font-weight: normal;
  font-family: "Lora";
  width: 560px;
  /* border: 1px #944646 dotted; */
  line-height: 136px;
  display: inline-block;
}


#palmTreeVector{
  /* display:inline-block; */
  position:absolute;
  width: 87.5px;
  height: 80.81px;
  /* border: 1px #ccc solid; */
}

#bannerText3{
  color: hsla(0, 0%, 100% 0.7);
  font-size: 30px;
  font-weight: normal;
  /* padding-top: 15vh; */
  font-family: "Lora";
  line-height: 38px;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;

}

#latestWorkLink{
  text-align: center;
  font-family: "Inter", sans-serif;
}

#latestWorkArrow{
  width:13px;
  height:8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 22px;
  margin-bottom: 30px;
}

header {
  /* background: url(../images/heropic1.jpg) center / cover; */
  height: 670px;
  justify-content: center;
  text-align: center;
}

h1{
  font-family: "Lora";
  font-size:36px;
  font-weight: bold;
  color: hsla(0, 0%, 100% 0.7);
}

#featuredWork{
  height: 194px;
  justify-content: center;
}

.featuredWork{
  text-align: center;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

.caseStudy1{
    display: grid;
    grid-column-gap:50px;
    padding: 40px 10px;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    background-color: #f4f4f4;
    border: 1px solid green;
}

.caseStudy2{
    display: grid;
    grid-column-gap:50px;
    padding: 40px 10px;
    grid-template-columns: 1fr 1fr;
    background-color: #fffff;
    border: 1px solid purple;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.caseStudyImage{
  /* float:right; */
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* width: 567px; */
  align-items: center;
}

#caseStudyImageContainer1{
  margin-right: 100px;
}

#caseStudyImageContainer2{
  margin-left: 100px;
}
.caseStudyDescriptionContainer{
  /* width:50%; */
}

#caseStudyDescriptionContainer1{
  margin-left:100px;
  padding-left:50px;
  border: 1px solid red;
}

#caseStudyDescriptionContainer2{
  margin-right:100px;
  padding-left:50px;
  border: 1px solid yellow;
}

.caseStudyDescription{
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}


h2{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.projectTitle{
  padding-bottom: 32px;
  margin-top:0px;
  margin-bottom:24px;
}

h3{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  margin:0px;
  /* or 21px */
}

h4{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
      /* or 21px */
}


.projectBrief{
  /* width: 466px; */
  padding-right: 50px;
}

.btn_viewCaseStudy{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  /* padding-top, padding-bottom: 10px;
  padding-left, padding-right: 24px; */
  padding: 10px 24px;
  border: 1px solid black;
  color: #2A3636;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top:24px;

}

#designProcessText{
  text-align: center;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

#designProcessSection{
  justify-content: center;
}

#designProcessTextSection{
  height: 194px;

}
#DP-Grid{
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
  background-color: #2196F3;
  padding: 10px 100px;
}

.DP-Columns {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.DP-Title{
  text-align: center;
  max-width: 140px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  margin-top:10px;
  }

.DP-item{
  text-align: center;
}

#researchpic1{
  max-width:100%;
}

.designPic{
  max-width:100%;
  margin-bottom: 14px;
}



------------------------------------------



#case-study-gh{
  font-size: 10px;
  line-height: 1.15;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  pointer-events: auto;
  transition-duration: 1.2s;
  transition-timing-function: ease;
  transition-property: opacity,transform,-webkit-transform;
  opacity: 1;
  transform: none;
}

.case-study-image display-mobile{
  pointer-events: auto;
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  display: none;
}

#caseStudyImage1{
  pointer-events: auto;
  box-sizing: border-box;
  border-style: none;
  width: 100%;
  padding: 0;
  float: right;
  max-width: 1024px;
  /* margin-right:100px; */
}

#caseStudyImage2{
  pointer-events: auto;
  box-sizing: border-box;
  border-style: none;
  width: 100%;
  padding: 0;
  float: left;
  max-width: 1024px;
  /* margin-left:100px; */

}
.content-box-narrow{
  font-size: 10px;
  line-height: 1.15;
  pointer-events: auto;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
  padding-left: 1rem;
}

.projectDescription{
  font-size: 10px;
  line-height: 1.15;
  pointer-events: auto;
  box-sizing: border-box;
}

.project-title{
  pointer-events: auto;
  box-sizing: border-box;
  margin: 0;
  font-family: Work Sans;
  font-style: normal;
  line-height: 167.23%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
}

.project-brief{
  pointer-events: auto;
  box-sizing: border-box;
  font-family: Archivo;
  font-style: normal;
  font-weight: 300;
  margin-top: 1.2rem;
  font-size: 2.4rem;
  line-height: 130%;
}

.category-tag-container display-desktop{
  font-size: 10px;
  line-height: 1.15;
  pointer-events: auto;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inherit;
}

.paragraph-end{
  pointer-events: auto;
  box-sizing: border-box;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 140%;
  padding-bottom: 3.6rem;
  margin-bottom: 0;
}

.category-tag-container li {
    background-color: #E8E8E8;
    color: #2A3636;
    display: inline-block;
    font: normal 1.2rem "Work Sans";
    padding: .6rem 1rem;
    margin: 0 1rem 1rem 0;
    text-transform: uppercase;
}




/*
We don't want the main content to span the full width of the page.
Otherwise it'll be difficult to read on large screens.
*/
main {
  max-width: 900px;
}

/*
We don't want any padding to the left of our description text on
our featured project; we want left edges of our text to line
up because it increases readability.
*/
.project-description {
  padding-left: 0;
}
/*
We want our images to always take up 100% of their container's
available width.
*/
.project img {
  width: 100%;
}

/*
might not need to make it fixed.
*/
footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  /* position: fixed; */
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
