/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html {
  font-size: 10px;
}

/* || GENERAL STYLES */
body {
  font-size: 12px;
  margin: 0px;
}

p {
  font-size: 1.6rem;
  letter-spacing: 0;
  margin: 0;
}

header {
  /* background: url(../images/heropic1.jpg) center / cover; */
  height: auto;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #000000;
  font-family: "Lato";
  font-size: 3.6rem;
  font-weight: bold;
}

h2 {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.1rem;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  margin: 0px;
  /* or 2.1rem */
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  margin-block-end: 0rem;
  margin-block-start: 0rem;
}

h5{
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  margin: 0px;
}

h6{
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight:normal;
  line-height: 130%;
  margin: 0px;
}

h7{
  display:block;
  font-family: "Merriweather";
  font-size: 1.6rem;
  font-style: normal;
  font-weight:normal;
  line-height: 130%;
  margin: 0px;
}


/* || Top Menu Bar */

#topnav {
  background-color: #FFFFFF;
  height: 10rem;
  overflow: hidden;
  width: auto;
}

#homeIcon {
  height: 5.5rem;
  position: relative;
  top: 50%;
  width: 5.89rem;
  /* margin-left: 10rem; */
}

#homeIconContainer{
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

#rightIcons {
  float: right;
  font-family: "Inter", sans-serif;
  position: relative;
  /* padding-right: 10rem; */
  top: 50%;
  transform: translate(0, -50%);
}

.link {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.8rem;
  margin: 10px;
  position: relative;
}

#underline {
  border: 2px solid transparent;
}
#underline::after {
  width: 20%;
  height: 2px;
  display: block;
  /* background-color: #DF6A50; */
  color: #DF6A50;
  content: " ";
  /* position: absolute; */
  top: 34px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#underline:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #DF6A50;
  color: #DF6A50;
  content: " ";
  /* position: absolute; */
  top: 34px;
  left: 0;
}


/* Style the links inside the navigation bar */
#topnav a {
  color: rgba(0, 0, 0, .87);
  float: left;
  font-size: 1.7rem;
  padding: 1.4rem 1.6rem;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
#topnav a:hover {
  /* background-color: #ddd; */
  color: #DF6A50;
}

/* Add a color to the active/current link */
#topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* || Banner */
.bannerText1 {
  color: #000000;
  font-family: "Lato";
  font-size: 5rem;
  font-weight: normal;
  padding-bottom: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10.1rem;
}



#bannerText2Line {
  position: relative;
}

#bannerText2 {
  color: #000000;
  display: inline-block;
  font-family: "Lato";
  font-size: 3rem;
  font-weight: normal;
  line-height: 13.6rem;
}

#palmTreeVector {
  height: 8.08rem;
  /* display:inline-block; */
  position: absolute;
  width: 8.75rem;
  /* border: 1px #ccc solid; */
}

.bannerText3 {
  color: #000000;
  font-family: "Lato";
  font-size: 3rem;
  font-weight: normal;
  height: 80px;
  line-height: 3.8rem;
  margin-bottom: 16rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 2rem;
}

.latestWorkLinkHomepage{
  display:inline-block;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color:black;
}

#latestWorkArrowHomepage {
  width: 1.3rem;
  height: .8rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2.2rem;
  margin-bottom: 3rem;
}


#section-caseStudies{
  position: relative;
  top: -4px;
}


/* || Horizontal Bar */
.horizontalBar-header{
  border-radius: 14px;
  border-style: solid;
  border-width: 2px;
  display: block;
  overflow: hidden;
}

/* || Featured Work */

.HP-Sections {
  align-items: center;
  display: flex;
  height: 19rem;
  justify-content: center;
}

.homepage-section{
  margin-left: 8%;
  margin-right: 8%;
}

.caseStudyCard {
  grid-column-gap: 5rem;
  border: 1px solid green;
  display: grid;
  margin-top: 5rem;
  max-width: 1200px;
}

.caseStudyImage {
  align-items: center;
  display:flex;
  justify-content: center;
  position:relative;
}

.caseStudyImage1 {
  border-style: none;
  box-sizing: border-box;
  pointer-events: auto;
  width: 100%;
}

.caseStudyDescription {
  padding: 10% 15%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.caseStudyDescription1 {
  position: relative;
}

.projectTitle {
  margin-bottom: 2.4rem;
  margin-top: 0px;
}

.btn_viewCaseStudy {
  border: 1px solid black;
  color: #2A3636;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-top: 2.4rem;
  /* padding-top, padding-bottom: 1rem;
  padding-left, padding-right: 2.4rem; */
  padding: 1rem 2.4rem;
  text-align: center;
  text-decoration: none;
}


/* || Design Process */

#designProcessSection {
  background-color: #FDF7F3;
}

#designProcessTitle {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.DP-Grid {
  grid-gap: 1rem;
  grid-column-gap: 1rem;
  display: grid;
  max-width: 1200px;
  padding: 5rem 8rem;
}

.DP-section {
  background-color: #FDF7F3;
  border: 2px solid white;
  color: black;
  height: auto;
  padding: 1rem;
}

#designProcessText {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

#designProcessTextSection {
  height: 19.4rem;
}

.DP-Title {
  height: 5rem;
  margin-bottom: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 14rem;
  text-align: center;
}

.DP-item {
  text-align: center;
}

.designPic {
  display: block;
  /* margin-bottom: 2.4rem; */
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding-bottom: 2rem;
}


/* || Recommendation Section */

#RecommendationSection {
  margin-bottom: 10rem;
}

#recTextSection {
  margin-bottom: 5rem;
  padding-left: 25%;
  padding-right: 25%;
}

#recText {
  font-size: 1.6rem;
  font-style: italic;
  padding-bottom: 2rem;
}

@media (min-width:800px) and (max-width:1000px){
  #recTextSection {
    padding-left: 18%;
    padding-right: 18%;
  }

  #recText {
    min-width:50rem;
  }
}

@media (min-width:500px) and (max-width:800px){
  #recTextSection {
    padding-left: 13%;
    padding-right: 13%;
  }

  #recText {
    min-width:40rem;
  }
}

@media (max-width:500px){
  #recTextSection {
    padding-left: 8%;
    padding-right: 8%;
  }

  #recText {
    min-width:30rem;
  }
}

#recName {
  padding-bottom: 1rem;
}

.card {
  background-color: white;
  border: solid black 1px;
  color: black;
  height: 4rem;
  padding: 1rem;
}

.cards {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}


/* || Footer */
.footer{
  align-items: center;
  background-color: #2E3A40;
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
}

.footerContent{
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 27.7rem;
}

.footerText-1{
  color: white;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 150%;
  margin: 0px 0px;
  text-align: center;
}

.footerText-2{
  color: white;
  font-size: 2.2rem;
  margin: 0px 0px;
  padding-bottom: 20px;
  padding-top:18px;
  text-align: center;
  text-decoration: underline;
}



.footerText-3{
  color: white;
  font-size: 1.4rem;
}

.footer1 {
  background-color: #2E3A40;
  height: 10rem;
  overflow: hidden;
  width: 100%;
}

#leftFooterIcons {
  grid-column-gap: 2rem;
  display: grid;
  float: left;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  margin-left: 10rem;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 18rem;
}

.footerIcons1{
  display:flex;
  margin-top:40px;

}


#resumeFooter{
  color: white;
  font-size: 1.6rem;
  margin-bottom:20px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding:10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid white;
  display:inline-block;
}
section button {
  margin: 0 auto;
  font-size: 1.6rem;
  padding:10px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display:inline-block;
  background-color: #2E3A40;
  color: white;
  border-color: white;
  border: 1px solid ;
  font-weight: 300;
  /* -webkit-border-radius: 3px; */
  border-radius: 3px;
  /* -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
}

section button:hover {
  background-color: white;
  color: #2E3A40;
  border-color: white;
}


.linkedin_icon{
  height: 4rem;
  padding-bottom: 2.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top:0px;
  width: 4rem;
  content: url("/Users/andrewpark/Documents/portfolio/images/carbon_logo-linkedin_outline.png");
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.linkedin_icon:hover {
    content: url("/Users/andrewpark/Documents/portfolio/images/carbon_logo-linkedin.png");
    height: 4rem;
    width: 4rem;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    /* transition: all 1s ease-in-out; */
    transition: 3s;

}

.github_icon{
  height: 4rem;
  padding-bottom: 2.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top:0px;
  width: 4rem;
  content: url("/Users/andrewpark/Documents/portfolio/images/carbon_logo-github_outline.png");
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.github_icon:hover {
    content: url("/Users/andrewpark/Documents/portfolio/images/carbon_logo-github.png");
    height: 4rem;
    width: 4rem;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    /* transition: all 1s ease-in-out; */
    transition: 3s;


}

/* || Media Query for Homepage*/

/*Design Process Media Queries*/

@media (max-width: 900px) {
  .caseStudyImage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    min-width: 36rem;
    padding: 2rem;
    width: 50%;
  }

}

/*when the screen is bigger than 600px, go to two columns*/
@media (min-width: 600px) {
  .DP-Grid {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 3rem;
  }
}
/*After 1100px, go to four columns*/
@media (min-width:1100px) {
  .DP-Grid {
    grid-template-columns: repeat(4, 1fr);
    margin: auto auto;
  }
}

@media (min-width:1099px) and (max-width:1200px){
  .designPic{
    max-width:100%
  }
}

@media (max-width:1099px) {
  .designPic{
    max-width:65%
  }
  .DP-Grid{
    padding:5rem 6rem;
  }
}

@media (max-width:950px) {
  .designPic{
    max-width:80%
  }
  .DP-Grid{
    padding:5rem 4rem;
  }
}
@media (max-width:850px) {
  .designPic{
    max-width:90%
  }
  .DP-Grid{
    padding:5rem 3rem;
  }
}

@media (max-width:750px) {
  .designPic{
    max-width:100%
  }

  .DP-Grid{
    padding:5rem 2rem;
  }
}

@media (max-width: 600px) {
  .cards {
    margin: auto 0rem;
  }
  .designPic{
    max-width:60%
  }
}

@media (max-width: 500px) {
  .designPic{
    max-width:80%
  }
}

@media (max-width: 400px) {
  .designPic{
    max-width:90%
  }
}

/*Navigation Bar Media Queries*/

@media (max-width: 700px) {
  #topnav a {
    font-size: 1.6rem;
    padding: 1.1rem 1.4rem;
  }

  .bannerText1 {
    font-size: 2rem;
	  padding-top: 6rem;
	  padding-bottom:	0rem;
	  margin-block-end: 0rem;
  }

  #bannerText1-1{
    padding-bottom: 2rem;
    padding-left: 15%;
    padding-right: 0%;
    padding-top: 0rem;
  }

  #bannerText2 {
    font-size: 1.6rem;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 12.6rem
  }

  .bannerText3 {
    font-size: 1.6rem;
    height: 5rem;
    line-height: 130%;
    margin-bottom: 10rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
  }

  #palmTreeVector {
    display: block;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .latestWorkLinkHomepage {
    font-size: 1.4rem;
  }

  .rightElements {
    padding-right: 5%;
  }

  .leftElements {
    margin-left: 5%;
  }

  .DP-Column {
    margin-bottom: 5rem;
  }

  #leftFooterIcons {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .footerIcon {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
  }

  /*get content vertically centered when width is small*/
  #footerContent1 {
    transform: translate(0, -25%);
  }
}

/*
We don't want the main content to span the full width of the page.
Otherwise it'll be difficult to read on large screens.
*/
main {
  max-width: 90rem;
}




/* Project Page */

/* || Header Section */

.caseStudy-section{
  margin-left: 13%;
  margin-right: 13%;
}

#takeLogo {
  padding-bottom: 4.5rem;
  padding-top: 9rem;
  width: 18.8rem;
}

#takeDescription {
  padding-bottom: 4.5rem;
  padding-left: 22%;
  padding-right: 22%;
}

.skip2prototype{
  float:right;
}

#latestWorkLink{
  font-size:1.4rem;
  color: #DC784C;
  width: 103px;
  font-family: "Inter", sans-serif;
  /* text-decoration: underline solid #DC784C; */
  text-align:left;
}

#skip2prototypeArrow{
  display:inline-block;
  width: 14px;
  float:right;
  transform: translate(0, 17%);
}

#skip2prototypeLink{
  display:block;
}

#skip2prototypeLink1{
  display:none;
}

@media (max-width: 750px){
  #skip2prototypeLink{
    display:none;
  }

  #skip2prototypeLink1{
    display:block;
    margin-bottom:2.5rem;
  }

  .skip2prototype{
    float:none;
    display:inline-block;

  }

  #skip2prototypeArrow{
    display:inline-block;
    width: 14px;
    float:none;
    transform: translate(0, 0%);
  }

  #latestWorkLink{
    display:inline-block;
    width: 85px;
  }

  #takeDescription{
    padding-bottom:2rem;
  }
}


#takeFinalProductImage {
  padding-bottom: 50px;
  width: 70%;
}

.roles {
  padding: 2px 0;
}

#roleTitle {
  font-weight: bold;
}

#roleBody{
  padding-bottom:70px;
}


/* || Nav Bar for Case Study */

.main {
   margin: 0 auto;
   padding: 0 0 0;
   position:-webkit-sticky;
   position:sticky;
   top:0;
}

.navigation ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

.navigation li {
   flex: 3;
}


/* || Overview Section */

.anchor-offset{
  position: relative;
  top: -100px;
}

.CS-Sections {
  /* border: 1px solid orange; */
}

.CS-Section-Title-text{
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
}

#overviewSectionHeading{
  padding-top:5rem;
}

.CS-Section-Title-number{
  color: #E9723F;
  display:inline;
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  padding-right:4px;
}

.CS-Subheading{
  font-weight: normal;
  margin:0;
  padding-top: 5rem;
  text-align: center;
}

.cs-textBlock1{
  padding-top: 3rem;
}

@media (min-width: 901px) {
  .cs-textBlock1{
    padding-left: 13%;
    padding-right: 13%;
  }
}

#cs-textBlock1-1{
  padding-bottom:3rem;
}

.cs-image-grid-1 {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.cs-textBlock-list{
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  margin-block-end: 0em;
  margin-block-start: 0em;
  padding-left: 27%;
  padding-right: 27%;
  padding-top: 20px;
  text-align: left;
}

@media (max-width: 500px){
  .cs-image-grid-1{
  grid-template-columns: repeat(1, 1fr);
  max-width: 600px;
  }
}

.cs-image-section-1 {
  background-color: white;
  color: black;
  padding-bottom:2rem;
  padding-left:2rem;
  padding-right:2rem;
  /* height: 4rem; */
}

.cs-image-caption{
  font-size: 14px;
  padding-bottom: 1.4rem;
  text-align: center;
}

.SSA_pics{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:200px;
}

.container-wrap-normal{
  align-items: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin-bottom:0rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  min-height: 125px;
  padding-bottom:.5rem;
  padding-top:.5rem;
  width:93%;
}



/*Problem and Solution flex wrap*/

.container-reverse{
  align-items: center;
  align-items: center;
  /* background-color: #EFF5FF; */
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-evenly;
  margin-bottom:0rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  min-height: 125px;
  padding-bottom:.5rem;
  padding-top:.5rem;
  /* margin: 0% auto; */
  width:93%;
}

.box {
  height: auto;
  min-width: 300px;
  padding: 10px;
  /* background-color: whitesmoke; */
  /* border: 1px solid white; */
  width: 40%;
}

#problem_pic{
  width: 90%;
}

.comp_analysis_pic{
  width: 100%;
}


/* || Research Section */

#CS-Subheading-userSurvey{
  padding-top:5rem;
}

.user-survey_pic{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
  width: 56%;
}

#user-survey-1{
  padding-top:45px;
}

#user-survey_pic-1{
  padding-bottom:2rem;
  padding-top:2rem;
}

#CS-Subheading-1{
  padding-top:2rem;
}

.CS-bodyText-1{
  margin-left: 13%;
  margin-right: 13%;
  padding-top:2.5rem;
}

.CS-Subheading-1{
  margin-left: 13%;
  margin-right: 13%;
}

.solution_pic{
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width:90%;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  line-height: 100%;
  padding-top: 4rem;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #EAF0FF;
}



/*User Personas section*/

.main1 {
   margin: 0 auto;
   padding: 0 0 0;
   /* position:-webkit-sticky;
   position:sticky; */
   top:0;
}

.wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: center;
  margin-left:23%;
  margin-right:23%;
  /* background-color:#DBDDDC; */
  padding-top:2.5rem;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
  padding: 10px;
}

@media all and (max-width: 600px) {
  .aside { flex: 1 0 0; }
  .wrapper{
    margin-left:0%;
    margin-right:0%;
  }
  .aside-2 {
    text-align:center;
    /* padding-top:50px; */
  }
}
@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}
@media all and (max-width: 1249px) {
  /* .aside { flex: 1 0 0; } */
  .aside-2 {
    padding-top:50px;
    text-align:left;
  }
}

@media all and (min-width: 1250px) {
  .main1    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .aside-2 { order: 2; }
  .main1    { order: 3; }
  .footer1  { order: 4; }
}

.user-persona_pic{
  display:inline;
  width:150px;
}

.userPersona-basicStats{
  display:inline-block;
}

.userPersona-moreInfo{
  display:inline-block;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: left;
}

.userPersona-moreInfo1 ul {
font-family: "Inter", sans-serif;
font-size: 1.4rem;
font-style: normal;
font-weight:normal;
line-height: 130%;
list-style: circle;
margin: 0px;
}

.userPersona-moreInfo1{
  padding-bottom:1.5rem;
}


/*Competitive Analysis section*/


.container-reverse-1{
  align-items: center;
  align-items: center;
  /* background-color: #EFF5FF; */
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-evenly;
  margin-bottom:0rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  min-height: 125px;
  padding-bottom:.5rem;
  padding-top:.5rem;
  /* margin: 0% auto; */
  width:74%;
}

.container-wrap-normal-1{
  align-items: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin-bottom:0rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  min-height: 125px;
  padding-bottom:.5rem;
  padding-top:.5rem;
  /* margin: 0% auto; */
  width:74%;
}

.container-reverse-3{
  align-items: center;
  align-items: center;
  /* background-color: #EFF5FF; */
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-evenly;
  margin-bottom:5rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:5rem;
  min-height: 125px;
  padding-bottom:.5rem;
  padding-top:.5rem;
  /* margin: 0% auto; */
  width:100%;
}

.container-wrap-normal-3{
  align-items: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin-bottom:5rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:5rem;
  min-height: 125px;
  padding-bottom:.5rem;
  padding-top:.5rem;
  /* margin: 0% auto; */
  width:100%;
}

#container-reverse-blue{
  background-color: #EFF5FF;
}

#container-reverse-green{
  background-color: #F8F7EE;
}

#container-reverse-peach{
  background-color: #FDF7F3;
}

#container-wrap-normal-blue{
  background-color: #EFF5FF;
}

#container-wrap-normal-green{
  background-color: #F8F7EE;
}

#container-wrap-normal-peach{
  background-color: #FDF7F3;
}

.box-1{
  height: auto;
  min-width: 300px;
  padding: 10px;
  width: 40%;
}

.comp_analysis_caption{
    padding-bottom:1.5rem;
}

.branding_color_pic{
  width:28%;
  /* min-width:100px; */
  /* background-color: blue; */
}

#cs-textBlock1-2{
  padding-top:5rem;
}

#CS-Subheading-s2w-1{
  padding-top: 5rem;
}

#CS-Subheading-s2w-2{
  padding-top: 3rem;
}

#CS-Subheading-2{
  padding-top:0rem;
}



/* || Information Architecture */

#CS-bodyText-1-1{
  padding-top:1rem;
}

#CS-bodyText-1-2{
  padding-bottom:1.5rem;
}

#s2w-container-1{
  background-color: #EA9D8C;
}

#s2w-container-2{
  background-color: #DF6A50;
}

.s2w-container{
  align-items: center;
  background-color: #F4CEC5;
  border-radius: 4px;
  display:flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2rem;
  padding:1.5rem;
}

.s2w_pic{
  min-width: 45rem;
  width:65%;
}


/* || Branding section */

.branding_font_subheading{
  font-size: 1.8rem;
  padding-bottom:1.5rem;
}

#CS-bodyText-1-3{
  padding-bottom:1.5rem;
  padding-top:0rem;
}

.box-2{
  display:inline-flex;
  max-height: 120px;
  justify-content: space-around;
  min-width: 300px;
  padding: 10px;
  width: 40%;
}

.box-3{
  display:inline-flex;
  height: auto;
  justify-content: space-around;
  min-width: 300px;
  padding: 10px;
  width: 40%;
}

#branding_logo_pic1{
  background-color: #F9F9F9;
}

#branding_logo_pic1-1{
  background-color: #FDF7F3;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.branding_font_body{
  font-size:1.6rem;
}



/* || Final Product Section */

.take-video-section{
  align-items: center;
  display:flex;
  justify-content: center;
  padding-top:15px;
}

.take-video{
  display:block;
  height:450px;
  margin-left: 13%;
  margin-right: 13%;
  width: 74%;
}

#cs-textBlock1-3{
  padding-bottom:7rem;
}

/* || Scroll to top arrow */

.scrolltotop{
  position: fixed;
  left: 0px;
  top: auto;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: block;
  overflow: visible;
  height: 100px;
  margin: auto;
}

.link-block.scrolltotop{
  position: static;
  display: block;
  height: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  float: right;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  /* padding: 15px; */
  border-radius: 50%;
  background-color: transparent;
  /* border: solid 2px #DC784C; */

  /*fade in*/
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#scrollUpArrow{
  width: 28px;
  padding: 10px 8px;
}

#myBtn:hover {
  background-color: #FDF7F3;
}

/*trying to make it fade out*/

/* #myBtn:active{
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}

@keyframes fadeOutOpacity {
100% {opacity: 1;}
0% {opacity: 0;}
} */



/* || Horizontal Bar */


.horizontalBar{
  border-radius: 14px;
  border-style: solid;
  border-width: 2px;
  display: block;
  margin-bottom: 40px;
  margin-left: 26%;
  margin-right: 26%;
  margin-top: 40px;
  overflow: hidden;
}

hr{
  margin: 0 auto;
}



#horizontalBar-pink{
    color: #FFF4F2;
}

#horizontalBar-orange{
  color: #DF6A50;
}

#horizontalBar-lightBlue{
  color: #EFF5FF;
}

#horizontalBar-lightGreen{
  color: #F8F7EE;
}

#horizontalBar-blue{
    color: #8DA9C2;
}

#horizontalBar-gray{
  border-radius: 14px;
  border-style: solid;
  border-width: 1px;
  color: #EFF5FF;
  display: block;
  margin-bottom: 25px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 25px;
  overflow: hidden;
}


/* nav bar in project */

csText {
  background: #2E3A40;
  color: white;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  font-weight: 500;
  line-height: 130%;
  padding: 20px 0px;
  text-align: center;
  /* letter-spacing: 2px; */
  text-decoration: none;
  width: 100%;
}

csText:hover {
  background: white;
  color: #DC784C;
}

@media all and (max-width: 550px) {
  csText {
    font-size:1.0rem;
  }

  .footerText-1{
        font-size:2rem;
  }

  .footerText-2{
    font-size:2rem;
    }

  #takeLogo{
    padding-top:3.5rem;
    width: 15.8rem;
  }
}




@media all and (max-width: 1000px) {
   .navigation ul {
      flex-wrap: wrap;
   }
   .navigation li {
      flex: 1 1 33.33%;
   }
   csText {
     padding: 1.25rem 0;
   }

}


/* || About Page*/

#bannerText1-1{
  padding-bottom: 1rem;
  padding-left: 15%;
  padding-right: 0%;
  padding-top: 15%;
}

#bannerText3-1 {
  /* color: #000000;
  font-family: "Lato";
  font-size: 3rem;
  font-weight: normal;
  height: 80px;
  line-height: 3.8rem; */
  margin-bottom: 16rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  padding-right: 0%;
  padding-top: 1.5rem;
}

#aboutmeImageContainer{
  justify-content:left;
}

.caseStudyImage1-1 {
  border-style: none;
  box-sizing: border-box;
  pointer-events: auto;
  width: 70%;
  min-width: 275px;
}

.box-5 {
  height: auto;
  min-width: 300px;
  padding: 10px;
  /* background-color: whitesmoke; */
  /* border: 1px solid white; */
  width: 30%;
}


.box-4 {
  height: auto;
  min-width: 300px;
  padding: 10px;
  /* background-color: whitesmoke; */
  /* border: 1px solid white; */
  width: 50%;
}

.aboutHeading{
  padding-top:7rem;
  font-size:3rem;
}

#Leslie-1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding:8rem 0;
}

.aboutHeading-1{
  text-align: center;
  padding:5rem 0;
}

.aboutHeading-2{
  text-align: center;
  padding:3rem 0;
}

#about-pnrSection{
  background-color: #FDF3F1;
  padding: 1rem 0;
}

@media (max-width:1000px){
  #bannerText1-1{
    padding-top:12%;
    font-size: 3rem;
  }

  #bannerText3-1 {
    font-size: 2rem;
  }

  #aboutmeImageContainer{
    justify-content:center;
  }
}
@media (max-width:694px){
  #bannerText1-1{
    text-align:center;
    padding-left:0%;
    padding-top: 10%;
  }

  #bannerText3-1 {
    text-align:center;
    padding-left:0%;
    margin-bottom: 0rem;
  }
}

@media (max-width:600px){
  #bannerText1-1{
    font-size: 2rem;
    padding-top:8%;
  }

  #bannerText3-1 {
    font-size: 1.6rem;
    /* text-align:center;
    padding-left:0%; */
  }

  .caseStudyImage1-1{
    min-width:240px;
  }

  #Leslie-1{
    width: 40%;
  }
}

.giphy-embed{
  width:300px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  display:block;
}

.giphy-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

#giphy-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:12rem;
}

.morelineheight{
  line-height: 145%;
}

#caseStudyImageContainer1{
    bottom: 90px;
}




/* || Media Queries*/

@media (min-width: 900px) and (max-width: 945px){
  .box {
    min-width: 0px;
  }
  .box-1{
    min-width: 300px;
  }
}

@media (max-width: 1200px) {
  .cs-textBlock1{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3rem;
  }
  .cs-textBlock-list{
    padding-left: 22%;
    padding-right: 22%;
  }

  .horizontalBar{
  margin-left: 22%;
  margin-right: 22%;
  }

  .take-video{
    display:block;
    height:450px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }
}

@media (max-width: 900px) {
  #takeFinalProductImage {
    width: 80%;
  }

  #takeDescription {
    padding-left: 20%;
    padding-right: 20%;
  }

  #takeLogo {
    padding-top: 7rem;
  }

  .cs-textBlock-list{
    padding-left: 15%;
    padding-right: 15%;
  }

  .caseStudy-section{
    margin-left: 4%;
    margin-right: 4%;
  }

  .homepage-section{
    margin-left: 5%;
    margin-right: 5%;
  }

  .CS-Subheading-1{
    margin-left: 8%;
    margin-right: 8%;
  }

  .CS-bodyText-1{
    margin-left: 8%;
    margin-right: 8%;
  }

  .user-survey_pic{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .s2w-container{
    align-items: center;
    /* margin-left: 22%;
    margin-right: 22%; */
    display:flex;
    justify-content: center;
    /* background-color: #F4CEC5; */
    margin: 3rem 8%;
    padding:1.5rem;
  }

  .s2w_pic{
    min-width: 40rem;
    width:80%;
  }

  .container-reverse-1{
    margin-left: 8%;
    margin-right: 8%;
    width:84%
  }

  .container-wrap-normal-1{
    margin-left: 8%;
    margin-right: 8%;
    width:84%
  }

  .horizontalBar{
	margin-left: 18%;
	margin-right: 18%;
  }

  .take-video{
    display:block;
    height:400px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #takeFinalProductImage {
    width: 90%;
  }

  #takeDescription {
    padding-left: 4%;
    padding-right: 4%;
  }

  #takeLogo {
    padding-top: 5rem;
  }

  .cs-textBlock1{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 3rem;
  }

  .caseStudy-section{
    margin-left: 3%;
    margin-right: 3%;
  }

  .homepage-section{
    margin-left: 3%;
    margin-right: 3%;
  }

  .cs-textBlock-list{
    padding-left: 5%;
    padding-right: 5%;
  }
  .container{
    margin: 0% 0%;
  }

  .CS-Subheading-1{
    margin-left: 0%;
    margin-right: 0%;
  }

  .CS-bodyText-1{
    margin-left: 0%;
    margin-right: 0%;
  }

  .user-survey_pic{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .s2w-container{
    align-items: center;
    background-color: #F4CEC5;
    /* margin-left: 22%;
    margin-right: 22%; */
    display:flex;
    justify-content: center;
    margin: 2rem 0%;
    padding:1.5rem;
  }
  .s2w_pic{
    min-width: 0rem;
    width:100%;
  }

  .container-reverse-1{
    margin-left: 0%;
    margin-right: 0%;
    width:100%
  }

  .container-wrap-normal-1{
    margin-left: 0%;
    margin-right: 0%;
    width:100%
  }

  .horizontalBar{
  margin-left: 5%;
  margin-right: 5%;
  }

  .take-video{
    display:block;
    height:350px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }


}

@media (max-width: 500px) {
  .take-video{
    display:block;
    height:300px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }

  #scrollUpArrow{
    width: 28px;
    padding: 10px 2px;
  }
}

@media (max-width: 400px) {
  .take-video{
    display:block;
    height:250px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }
}
